@media print {
    .no-print {
      display: none;
    }
  
    body * {
      visibility: hidden;
      -webkit-print-color-adjust: exact;
    }
  
    html {
      font-size: 10px;
    }
    p {
      break-inside: avoid;
    }
  
    .main {
      zoom: 1;
      padding: 0;
      margin: 0;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      box-shadow: none;
    }
  
    .no-break {
      break-inside: avoid;
    }
  
    .main,
    .main * {
      visibility: visible;
    }
}
@media screen and (max-width:20px){

}